<!-- Utilizando Angular Material -->
 <section class="products">
   <app-product 
   (addToCartClick)="addToCart($event)"
   [product]="product" 
   *ngFor="let product of products">
  </app-product>
</section>

<!-- Utilizando tablas -->
<!-- <div class="container">
<table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{product.name}}</th>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.stock}}</td>
        <td>
        <button mat-flat-button color="primary">Editar</button>
        </td>
        <td>
            <button mat-flat-button color="accent">Eliminar</button>
        </td>  
    </tr>
    </tbody>
  </table>
</div> -->



